<div class="main-container">
    <footer class="text-center space--sm footer-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul class="social-list list-inline list--hover">
                            <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_BLANK"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                            <!-- <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li> -->
                            <li><a href="https://instagram.com/{{ site.instagram_username }}" target="_BLANK"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                        </ul>
                    </div>
                    <div> <span class="type--fine-print">Sevgiyle yapıldı ❤</span> </div>
                    <div> <span class="type--fine-print">© <span class="update-year">2017</span> Tutkuyla.com ~ Sitedeki tüm içeriğin
                        bazı hakları saklıdır. </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/scripts.js"></script>