<div class="nav-container">
    <div>
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="index.html"> <img class="logo logo-dark" alt="logo" src="img/logo-dark.png"> <img class="logo logo-light" alt="logo" src="img/logo-light.png"> </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="index.html"> <img class="logo logo-dark" alt="logo" src="/img/tutkuylagez.png"> <img class="logo logo-light" alt="logo" src="img/logo-light.png"> </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li> <a href="#">
                                        Hakkımızda
                                    </a> </li>
                                <li class="dropdown"> <span class="dropdown__trigger">
                                        Yerler
                                    </span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="dropdown__content col-md-2">
                                                    <ul class="menu-vertical">
                                                        <li> <a href="#">İğneada</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"> <span class="dropdown__trigger">
                                        Tag
                                    </span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="dropdown__content col-md-12">
                                                    <div class="col-md-3">
                                                        <h5>Yerler</h5>
                                                        <ul class="menu-vertical">
                                                            <li> <a href="#">Boo</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h5>Güzergahlar</h5>
                                                        <ul class="menu-vertical">
                                                            <li> <a href="#">Bar</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h5>Bisiklet</h5>
                                                        <ul class="menu-vertical">
                                                            <li> <a href="#">Foo</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h5>Sevgi</h5>
                                                        <ul class="menu-vertical">
                                                            <li> <a href="#">Zoo</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>