{% assign post = include.post %}
<div class="col-sm-4">
    <article class="feature feature-1">
        <a href="{{ post.url | prepend: site.baseurl }}" class="block"> <img alt="Image" src="{{ post.featuredImage }}"> </a>
        <div class="feature__body boxed boxed--border">
            <h5>{{post.title}}</h5>
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% endif %}
            <a href="{{ post.url | prepend: site.baseurl }}">Devamını oku...</a>
        </div>
    </article>
</div>