{% assign post = include.post %}
{% assign date = post.date %}
<div class="masonry__item col-sm-6 col-xs-12">
    <a class="block" href="{{ post.url }}">
        <article class="imagebg border--round" data-scrim-bottom="8">
            <div class="background-image-holder" style="background: url(&quot;{{post.featuredImage}}&quot;); opacity: 1;">
                <img alt="background" src="{{post.featuredImage}}">
            </div>
            <div class="article__title">
                <span>{% include util/dateString.html date=date %}</span>
                <h4>{{ post.title }}</h4>
            </div>
        </article>
    </a>
</div>